body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(30deg,#E8CBC0, #636FA4);
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
label {
    margin-right: 15px;
}
select {
    padding: 8px 15px 8px 5px;
    border-radius: 4px;
}

.custom-select-container,
.custom-select-value, 
.custom-select-options, 
.custom-select-option {
  box-sizing: border-box;
}

.custom-select-container {
  display: inline-block;
  position: relative;
}

.custom-select-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  border: 1px solid white;
  padding: .25rem .5rem;
  cursor: pointer;
  user-select: none;

}


.custom-select-container:focus > .custom-select-value {
  border-width: 2px;
  outline: none;
}


.custom-select-value::after {
  content: '';
  display: inline-block;
  border: 4px solid transparent;
  border-top-color: white;
  margin-left: 12px;
  margin-top: 4px;
}

.custom-select-options {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 2px solid white;
  width: 100%;
  border-top: none;
  max-height: 200px;
  overflow-y: auto; 
}

.custom-select-options.show {
  display: block;
}

.custom-select-option {
  padding: .25rem .5rem;
  cursor: pointer;
}

.custom-select-option:hover {
  background-color: hsl(0, 0%, 73%);
}

.custom-select-option.selected {
  background-color: hsl(0, 0%, 38%);
}